<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haduong.todoapp">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id">

        </meta-data>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity">

        </activity>
        <activity android:name=".HomepageActivity">

        </activity>

        <activity android:name=".AddDinnerTableActivity"
            android:theme="@style/PopupActivity"
            android:label="@string/themBanAn">

        </activity>
        <activity android:name=".AddMenuFoodActivity">

        </activity>

        <activity android:name=".AddTypeMenuFoodActivity"
            android:theme="@style/PopupActivity"
            android:label="@string/type_menu_food">

        </activity>

        <activity android:name=".PaymentActivity">

        </activity>
        <activity android:name=".EditTableDinnerActivity"
            android:theme="@style/PopupActivity"
            android:label="@string/edit_menu_food">

        </activity>
        <activity android:name=".QuantityActivity"
            android:theme="@style/PopupActivity"
            android:label="@string/quantity">

        </activity>

    </application>

</manifest>